*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
  width: 100%;

  font-family: Georgia, "Times New Roman", Times, serif;
}
.name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  
}
.left {
  float: left;
}
.right {
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
header .navbars .nav-item{
  color: #fff;
}


.text {
  position: absolute;
  top: 8px;
  left: 41px;
  color:black;
}
.logo{
    position: absolute;
  top: 7px;
  left: 39px;
}

  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .member{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .back{
      position: fixed;
      z-index: 1;
  }




   /* body {
    font-family: tahoma;
    height: 100vh;
    background-image: url(https://picsum.photos/g/3000/2000);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  } */
  
 
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: pink;
    background-color: #f7f5ec;
  } 
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    /* position: relative; */
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 2;
    /* position: relative; */
  }
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: pink;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 2;
  }
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  video {
    max-width: 100%;
  }
  .nav-item{
      color: black;
  }
  .nav-item:hover{
      cursor: pointer;
      text-decoration: underline;
      
  }
  /* .member::after{
    content: '';
    background: rgb(18, 3, 71);
    height: 10px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    display: block;
    transform: translateY(8px);
    border-radius: 40px;
  } */
  /* .members-name{
    width: 100%;
      height: 100vh;
      background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(https://images.hdqwalls.com/download/bts-samsung-2020-gq-1920x1080.jpg); 
      background-repeat: no-repeat;
      background-size: cover;
  } */
  .banner-area {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://i.ytimg.com/vi/WuaBptIO5JU/maxresdefault.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
 @media screen and (max-width: 540px) {
  .banner-area {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/phone.jpg);
   
  }
  /* .members-name{
    width: 100%;
      height: 250vh;
      background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://wallpaper.dog/large/20476539.jpg); 
      background-repeat: no-repeat;
      background-size: cover;
  } */
  /* .member::after{
    content: '';
    background: rgb(18, 3, 71);
    height: 10px;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    border-radius: 40px;
  } */
} 

.card img{
  border-radius: 80px;
  width: 75%;
}

.card:hover{
  box-shadow: rgba(50, 50, 50, 0.5);
}






